{% extends 'base.html.twig' %}

{% block title %}Panier
{% endblock %}

{% block body %}
    <div class="bg-light p-1 mb-5">
        <h1>Votre panier</h1>
    </div>

    <div>
		<a class="btn btn-info mt-3" href="/monsite/boutique" role="button">
			<i class="fas fa-shopping-cart mr-1"> Continuer mes achats</i>
		</a>
	</div>

{% if items | length > 0 %}

	<div class="col-12">
		<table class="table">
		   	<thead>
		   		<tr>
		   			<th>Produit</th>
		   			<th>Prix</th>
		   			<th>Quantité</th>
		   			<th>Total</th>
		   			<th></th>
		   		</tr>
		   	</thead>
		   	<tbody>
				{% for item in items %}
					<tr>
		   				<td>{{item.produit.nom}}</td>
		   				<td>{{item.produit.price}}</td>
		   				<td>{{item.quantity}}</td>
		   				<td>{{item.produit.price * item.quantity}}</td>
		   				<td>
		   					<a href="{{ path('monpanier_remove', {'id' : item.produit.id}) }}" class="btn btn-danger btn-sm justify-conetnt-right">
		   						<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
	  								<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
	  								<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
								</svg>
		   					</a>
		   				</td>
		   			</tr>
		   		{% endfor %}
		   	</tbody>
		   	<tfoot>
		   		<tr>
		   			<td colspan="3" class="text-right">Total :</td>
		   			<td>{{ total }}</td>
		   			<td></td>
		   		</tr>
		   	</tfoot>
		</table>

		{% if not app.user %}
		<div class="text-right mr-5">
			<a class="btn btn-danger mt-3" href="/inscription"role="button">
			<i class="fas fa-shopping-cart mr-1"></i>Commander</a>
		</div>
	{% else %}
		<div class="text-right mr-5">
			<a class="btn btn-danger mt-3" href="/panier/commande"role="button">
			<i class="fas fa-shopping-cart mr-1"></i>Commander</a>
		</div>
	{% endif %}

		
	</div>
   	{% else %}
   		<p>Ce panier est vide !</p>
	{% endif %}

{% endblock %}