{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		{% for produit in produits %}
			<div class="col-12 col-lg-4 produit">
				<a href="/monsite/shop/{{produit.id}}">
				<img src="{{ asset('' ~ produit.image ~ '.') }}" alt="mon super produit"/>
				 {{ produit.image }}
				<div class="details text-center">
					{{ produit.category }}
				</div>
				<div class="details text-center">
					{{ produit.nom }}
				</div>
				<div class="details text-center">
					{{ produit.price }} €
				</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}